/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.block-center {
  margin: 0 auto;
}

.content-width {
  max-width: 696px;
}

.page {
  padding: 102px 0;
  color: var(--accent-color, #00CC14);
  font-family: var(--main-font, sans-serif);
  background-image:
    var(--repeating-right-gradient, repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px)),
    var(--repeating-bottom-gradient, repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px)),
    var(--linear-gradient, linear-gradient(to bottom, #007f0c,#004306));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-variation-settings: 'wqht'var(--main-font-fw, 400 800);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 2px solid var(--accent-color, #00CC14);
  padding-top: 8.4em;
  padding-bottom: 22px;
  font-family: var(--accent-font, sans-serif);
  background-color: var(--bg-color, #000);
}

.header__link {
  text-decoration: none;
}

.title {
  margin-bottom: 24px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 19px;
}

.header__subtitle {
  display: block;
  padding-top: 19px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__button {
  position: relative;
  border-color: transparent;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color, #00CC14);
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: .6;
}

.theme-menu__button:disabled {
  opacity: .6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -21px;
  opacity: .6;
}

.sprints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 102px;
}

.sprints__list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  background-color: var(--bg-color, #000);
}

.card-title {
  border: 2px solid var(--accent-color, #00CC14);
  border-bottom: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--card-heading-fw, 800);
}

.card__img-container {
  position: relative;
  border: 2px solid var(--accent-color, #00CC14);
  border-bottom: none;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 23px;
  z-index: 1;
  opacity: .6;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-stroke-color, #000),
    0 1px var(--text-stroke-color, #000),
    1px 0 var(--text-stroke-color, #000),
    0 -1px var(--text-stroke-color, #000);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-stroke-color, #000)) or (-webkit-text-stroke: 1px var(--text-stroke-color, #000))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #000);
  }
}

.card-img {
  display: block;
  object-fit: contain;
}

.card__content-block {
  border: 2px solid var(--accent-color, #00CC14);
  border-bottom: none;
  padding: 24px;
  padding-top: 29px;
  padding-bottom: 22px;
}

.card__text-content {
  font-size: 18px;
}

.card__text-content:not(:last-child) {
  margin-bottom: 27px;
}

.card__buttons-block {
  display: flex;
  justify-content: end;
  border: 2px solid var(--accent-color, #00CC14);
  border-top: none;
  padding-right: 23px;
  padding-bottom: 23px;
}

.card__like-button {
  min-width: 130px;
}

.card__like-button:focus, .save-button:focus {
  outline: none;
}

.card__icon-button {
  margin-right: 4px;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--bg-color, #000);
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #00CC14);
}

.like-icon {
  width: 39px;
  height: 32px;
  overflow: visible;
  fill: var(--accent-color, #00CC14);
}

.main-body {
  fill: transparent;
}

.core {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.save-button {
  padding: 13px 18px;
}

.button__text {
  color: var(--color-for-mix-blended, #00CC14);
  mix-blend-mode: difference;
}

.button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #00CC14);
  font-family: var(--accent-font, sans-serif);
  text-align: center;
  background-color: var(--bg-color, #000);
  cursor: pointer;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #00CC14);
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color, #00CC14);
}

.save-text {
  font-size: 14px;
}

.floppy-ico {
  width: 21px;
  height: 21px;
  margin-right: 8px;
  fill: var(--color-for-mix-blended, #00CC14);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 53px;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  max-width: 357px;
  border: 2px solid var(--accent-color, #00CC14);
  padding: 30px;
  background-color: var(--bg-color, #000);
  transition: opacity 0.3s ease-in-out;
}

.modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.modal::backdrop {
  opacity: 0.75;
  background: #000;
}

.modal__text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal__text-wrapper>.floppy-ico {
  width: 39px;
  height: 43px;
  margin-right: 20px;
  overflow: visible;
}

.modal__text {
  color: var(--accent-color, #00CC14);
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modal__close-btn {
  width: 100%;
  padding: 9px 0;
  text-transform: uppercase;
}

.modal__close-btn:focus {
  outline: none;
}

.blur {
  filter: blur(5px);
}

.brightness {
  filter: brightness(0.4);
}

.contrast {
  filter: contrast(300%);
}

.sepia-brightness {
  filter: sepia(60%) brightness(2);
}

.sepia-invert {
  filter: sepia(40%) invert(55%);
}

.invert {
  filter: invert(75%);
}

.grayscale {
  filter: grayscale(80%);
}